@model Billing.Entities.ApplicationUser

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Edit User Information
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.PersonName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <label class="control-label col-lg-2">Name</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PersonName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PersonName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">Mobile</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">National ID</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NationalId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NationalId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">Maritial Status</label>
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.MaritialStatus, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaritialStatus, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">Gender</label>
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">Role</label>
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.UserRoles, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserRoles, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-2">Phone</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                                @Html.ActionLink("Back to List", "Index", "Account", null, new { @class="btn btn-default btn-sm" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>