@model Billing.Entities.CompanyInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerSafi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSafi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditCardCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditCardCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebitCardCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebitCardCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentSafi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentSafi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
